.bid_content{
	margin-top: 1rem;
	padding: 0 0.26rem;
	border-top-style: solid;
	border-top-color: #808080;
	border-top-width: 0.01rem;
}
.content_list{
	height: 0.68rem;
	line-height: 0.68rem;
	color: #808080;
	border-bottom-style: solid;
	border-bottom-color: #808080;
	border-bottom-width: 0.01rem;
}
.content_list span{
	float: left;
}
.content_list .username{
	width: 35%;
}
.content_list .state{
	width: 20%;
	text-align: center;
}
.content_list .site{
	width: 25%;
	text-align: center;
}
.content_list .money{
	width: 20%;
	text-align: right;
}
.content_list:nth-of-type(1){
	color: #FF334B;
}
