a {
    text-decoration: none;
    color: #fff;
    font-size: .24rem;
}

.check_banner {
    height: 3.52rem;
    background: rgb(252, 55, 80);
    color: #fff;
}

.check_banner2 {
    background-image: url(../images/qiandao/banner2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 1.64rem;
    margin-top: -1.64rem;
}

.check_banner2_up {
    text-align: center;
    padding-top: 0.7rem;
}

.check_banner2_img {
    width: 0.2rem;
    height: 0.23rem;
}

.check_banner2_text {
    text-align: center;
    font-size: 0.28rem;
    color: #fff;
}

.check_title {
    text-align: center;
    padding: .10rem 0;
}

.check_content {
    display: flex;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: .10rem;
}

.check_content_left,
.check_content_right {
    flex: 1;
    font-size: 0.28rem;
}

.check_content_middle {
    flex: 2;
}

.check_middle_detail {
    width: 2.4rem;
    height: 2.4rem;
    margin: 0 auto;
    background: url(../images/qiandao/btn.png) no-repeat;
    background-size: 2.4rem 2.4rem;
    position: relative;
}

.is_check,
.check_day {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    color: #ff334b;
}

.is_check {
    top: .64rem;
    font-size: .32rem;
}

.check_day {
    top: 1.4rem;
    font-size: .24rem;
}

.check_remind {
    font-size: .12rem;
    position: absolute;
    bottom: -.43rem;
}

.check_content_right {
    position: relative;
    text-align: center;
}

.check_content_right::before {
    position: absolute;
    content: '';
    width: .3rem;
    height: .3rem;
    background: url(../images/qiandao/question.png) no-repeat;
    background-size: 100% 100%;
    top: 0.05rem;
    left: 0rem;
}

.checked_day {}


/*number_days*/

.number_days {
    background-color: #fff;
    padding: .10rem 0;
}

.number_days_title {
    width: 5.22rem;
    height: 1.05rem;
    margin: 0 auto;
    background: url(../images/qiandao/qdhl.png) no-repeat center center;
    background-size: 1.86rem .45rem;
}

.number_days_content ul {
    display: flex;
}

.number_days_content ul li {
    flex: 1;
    text-align: center;
    position: relative;
}

.number_days_gift {
    width: 0.96rem;
    height: 1.2rem;
}

.gift_open {
    width: 1.46rem;
    height: 1.11rem;
    display: none;
}

.seven_day_pic,
.fifteen_day_pic,
.thirty_day_pic {
    text-align: center;
    height: 1.4rem;
    padding-top: .2rem;
    /*border: 1px solid #000;*/
}

.received {
    width: .80rem;
    height: .30rem;
    line-height: .30rem;
    border: .02rem dashed rgb(252, 39, 84);
    color: rgb(252, 39, 84);
    -webkit-border-radius: .15rem;
    -moz-border-radius: .15rem;
    border-radius: .15rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(-20deg);
    -moz-transform: translate3d(-50%, -50%, 0) rotate(-20deg);
    -ms-transform: translate3d(-50%, -50%, 0) rotate(-20deg);
    -o-transform: translate3d(-50%, -50%, 0) rotate(-20deg);
    transform: translate3d(-50%, -50%, 0) rotate(-20deg);
    z-index: 2;
}

.seven_day_title,
.fifteen_day_title,
.thirty_day_title {
    color: #666;
    font-size: .28rem;
    /*   border:1px solid #000;*/
}


/*box*/

.box {
    margin-top: .05rem;
}

.DateBox {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: .10rem 2%;
    color: #666;
}

.box input {
    border: none;
    padding: 0;
}

.box {
    width: 100%;
    background-color: #fff;
}

.week {
    width: 100%;
    overflow: hidden;
    line-height: .49rem;
}

.week-in {
    height: .49rem;
    float: left;
    width: 14.2%;
    text-align: center;
    color: #4d4d4d;
    font-size: 0.36rem;
}

.dayBox {
    overflow: hidden;
}

.day_div {
    float: left;
    height: .80rem;
    line-height: 0.8rem;
    width: 14.2%;
    text-align: center;
    /*border: 0.01rem solid #000;*/
}

.day {
    font: .28rem;
    color: #808080;
    position: relative;
    width: .40rem;
    height: .40rem;
    line-height: .40rem;
    text-align: center;
    display: inline-block;
}

.control {
    text-align: center;
    border-bottom: .02rem dashed #f0f0f0;
    padding: .26rem 0;
}

.control:before {
    content: "<  ";
    font-size: .36rem;
    color: #c2c2c2;
}

.control:after {
    content: "  >";
    font-size: .36rem;
    color: #c2c2c2;
}

.control span {
    color: #666;
    font-size: 0.36rem;
}

.dayBox .day.yet {
    border-radius: 50%;
    border: .02rem solid #ff334b;
}

.dayBox .day.current {
    border-radius: 50%;
    background-color: #ff334b;
    color: #fff;
}

.dayBox .day:last-child::before {
    background: none;
}

.pup_up,
.instructions {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    display: none;
    z-index: 3;
}

.pup_detail {
    width: 5rem;
    /*height: 5rem;*/
    position: absolute;
    background: #fff;
    top: 50%;
    left: 50%;
    color: #666;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    -o-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    -webkit-border-radius: .15rem;
    -moz-border-radius: .15rem;
    border-radius: .15rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: .10rem;
    padding-bottom: .6rem;
}

.pup_detail p {
    font-size: 0.4rem;
    text-align: center;
    color: #4d4d4d;
    margin-top: 0.3rem;
}

.pup_detail img {
    width: 4.6rem;
    height: 2.8rem;
}

.close_detail {
    position: absolute;
    padding: .10rem;
    width: .3rem;
    height: .3rem;
    top: 0rem;
    right: 0.1rem;
    background: url(../images/qiandao/close.png) no-repeat center center;
    background-size: .3rem .3rem;
    text-align: center;
}

.pup_title {
    /* margin: .20rem auto .10rem auto;*/
    color: rgb(249, 0, 48);
    text-align: center;
}

.pup_text {
    font-size: .16rem;
    text-align: center;
    color: #666;
}

.go_share {
    position: absolute;
    width: 1.60rem;
    bottom: .10rem;
    height: .4rem;
    line-height: .4rem;
    left: 50%;
    background-color: rgb(249, 0, 48);
    -webkit-border-radius: .30rem;
    -moz-border-radius: .30rem;
    border-radius: .30rem;
    text-align: center;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.instructions_detail {
    width: 3.4rem;
    height: 4.6rem;
    position: absolute;
    background: #fff;
    top: 50%;
    left: 50%;
    color: #666;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    -o-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    -webkit-border-radius: .15rem;
    -moz-border-radius: .15rem;
    border-radius: .15rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: .10rem;
}

.instructions_detail .pup_text {
    text-align: left;
}
